.overflow {
    height: 40%;
    overflow: hidden;
}

.card-body {
    height: auto;
}

body,
html,
body>div:first-child,
div#__next,
div#__next>div {
    height: 100%;
}

.overflow .card-img-top {
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.overflow .card-img-top:hover {
    transform: scale(1.8);
}

#contenedor {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: red;
}

.height-card {
    max-height: 480px;
}

/* Estilos móvil/celular */
@media all and (min-width: 701px) {
    .pad {
        padding-left: 0rem;
    }

}

@media all and (max-width: 701px) {
    .height-card {
        max-height: 500px;
    }

    .overflow {
        height: 50%;
        overflow: hidden;
    }
}