.overflow {
    height: 40%;
    overflow: hidden;
}

.border-rounded {
    border-radius: 0.6rem !important;
}

.small-btn {
    padding: 0.5rem;
    font-size: 15px;
}

body,
html,
body>div:first-child,
div#__next,
div#__next>div {
    height: 100%;
}

.overflow .card-img-top {
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.card-img-top {
    height: 150px;
    border-radius: 0.6rem;
    object-fit: cover;
}

.overflow .card-img-top:hover {
    transform: scale(1.8);
}

.height-card {
    max-height: 480px;
}

.bg-light {
    box-shadow: none !important;
    border: none !important;
}

h3,
h1 {
    /* color: #00080d !important; */
    background: linear-gradient(45deg, #010c19d5, #428BFC);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* Azul claro y suave */
}

h5,
h6 {
    color: #00080d71 !important;
}

p {
    color: #00080d60;
}

.p-dark {
    color: rgba(226, 240, 255, 0.815) !important;
}

.h3-dark {
    color: #428BFC !important;
}

/* Estilos móvil/celular */
@media all and (min-width: 701px) {
    .pad {
        padding-left: 0rem;
    }

    .top-section-padding {
        padding: 0px;
        gap: 15px
    }
}

@media all and (max-width: 701px) {
    .height-card {
        max-height: 500px;
    }

    .overflow {
        height: 50%;
        overflow: hidden;
    }

    .top-section-padding {
        padding: 15px;
        gap: 15px;
    }

    section>.gradient {
        background: none !important;
    }

}

.image-blurred-edge {
    background-image: url('/foto.jfif');
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: -0.5rem;
    /* you need to match the shadow color to your background or image border for the desired effect*/
}

.gradient {
    background: linear-gradient(to right,
            #428BFC,
            #00080d) !important;
    border: none !important;
}

.gradient2 {
    background: linear-gradient(to right,
            #428cfc1b,
            #cceaff19) !important;
}


.blue2 {
    background: linear-gradient(to right,
            #428cfc1b,
            #428cfc1b) !important;
}

.card-body {
    background-color: #fbfeff !important;
}

.card {
    border-radius: 0rem !important;
    overflow: hidden;
    border: none !important;
    background-color: #F7FBFE !important;
    box-shadow: none !important;
}